table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border: 2px solid rgb(1, 1, 1);
    margin-top: 7px;
}
/* horas dias*/
.h{
    color: rgb(129, 15, 38);
    width: 5%;
    font-family:cursive, fantasy;
    font-size: 18px;
}
.d{
    color: rgb(129, 15, 38);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.l{
    color: rgb(129, 15, 38);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.m{
    color: rgb(129, 15, 38);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.mi{
    color: rgb(129, 15, 38);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.j{
    color: rgb(129, 15, 38);
    width: 14%;  
    font-family:cursive, fantasy;
    font-size: 18px;
}
.v{
    color: rgb(129, 15, 38);
    width: 14%; 
    font-family:cursive, fantasy;
    font-size: 18px;
}
.SA{
    color: rgb(129, 15, 38);
    width: 30%; 
    height: 40px;
    font-family:cursive, fantasy;
    font-size: 18px;
}
/* fin horas dias*/
/* tutoria y cancelda*/
.t{
    background-color: #b6cc6c;
    letter-spacing: 3px;
    height: 40px;
    font-family:cursive, fantasy;
    font-size: 19px;
}
.c{
    letter-spacing: 3px;
    background-color:  #c03b3f;
    color: #fff;
    height: 40px;
    font-family:cursive, fantasy;
    font-size: 19px;
}
.li{
    height: 40px;   
}
